<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search</title>
    <link rel="stylesheet" href="/static/styles/indexStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
    <div class="box">
        <div class="content">
            <div class="text-section">
                <p class="main_text">Koks bus tavo kitas filmas?</p>
                <p class="second_text">
                    Tiesiog pasirink savo mėgstamus filmus,<br>
                    ir mes parodysime, ką dar verta pažiūrėti.
                </p>
                <button class="btn" onclick="window.location.href='/find'">Pradėti</button>
            </div>
            <div class="image-section">
                <img src="/static/img/1.png" alt="movie" class="main-image">
            </div>
        </div>
    </div>
</body>
</html>
